<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GSessionManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GSessionManager.Properties.Settings>
            <setting name="UserID" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value>5678</value>
            </setting>
        </GSessionManager.Properties.Settings>
    </userSettings>
</configuration>